/* Add your styles here */
html, body {
    font-family: 'Segoe UI', sans-serif !important;
}

vaadin-button {
    border-radius: 4px;
}

body vaadin-button[theme~="primary"] {
    background-color: #db6e00 !important;
    color: black !important;
    border-radius: 4px !important;
}

vaadin-button[theme~="error"] {
    background-color: #ff0000 !important;
    color: black !important;
    border-radius: 4px !important;
}

vaadin-button[theme~="tertiary"] {
    background-color: #8f8f8f !important;
    color: black !important;
    border-radius: 4px !important;
}

vaadin-text-field::part(input-field),
vaadin-text-area::part(input-field),
vaadin-number-field::part(input-field),
vaadin-date-picker::part(input-field) {
    background-color: white !important;
    border: 1px solid gray !important;
    border-radius: 4px !important;
}

.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}

.app-name {
    font-weight: var(--aura-font-weight-semibold);
    font-size: var(--aura-font-size-l);
}

.app-footer {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
}
